<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<meta charset="UTF-8">
</head>
<body>
<header>
	<div class="header_wrap">
		<div class="container_wrap">
			<div class="content_wrap">
				<a href="index.html">
					<img src="../assets/images/logo.png">
				</a>
				<div class="right_content">
					<div class="search_box">
						<input type="text" placeholder="search">
						<input type="submit" value="" name="subscribe" id="search_btn">
					</div>
					<div class="sub_wrap">
						<div class="social">
							<ul>
							    <li class="youtube_icon link">
									<a href="https://toutube.com/IIM"></a>
								</li>
								<li class="facebook_icon link">
									<a href="https://facebook.com/IIM"></a>
								</li>
								<li class="linkedin_icon link">
									<a href="https://linkedin.com/IIM"></a>
								</li>
								<li class="twitter_icon link">
									<a href="https://twitter.com/IIM"></a>
								</li>
							</ul>
						</div>
						<div class="nav_list">
							<ul>
								<li class="link">ALUMINI </li>
								<li class="link">LIBRARY </li>
								<li class="link">PARTNERSHIPS </li>
								<li class="link">OPERTUNITIES </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="nav_bar">
				<ul>
					<li class="link">ABOUT IIMB</li>
					<li class="link">ADMISSION</li>
					<li class="link">EXECUTIVE EDUCATION</li>
					<li class="link">FACULTY AND RESEARCH</li>
					<li class="link">CENTER OF EXCELLENCE</li>
				</ul>
			</div>
		</div>
	</div>
</header>
	<div class="slider_wrap">
		<div class="container_wrap">
			<div class="updates_inner">
				<h1>Earth Day Celebrations at IIMB</h1>
				<p>On Earth Day at IIMB, environmentalist Suresh Heblikar rues that all districts in the State aspire to Bangalore's growth model but hopees young minds, like those at IIMB, can reverse this trend...</p>
				<a href="#">Read More</a>
				<div class="img_nav">
					<ul>
						<li class="link" id="prev"><a href="#"></a></li>
						<li class="link" id="nxt"><a href="#"></a></li>
					</ul>
				</div>
			</div>
			<div class="slide_img">
				<img src="../assets/images/DSC_0266.jpeg">
			</div>
		</div>
	</div>
<div class="main_content container_wrap">
<div class="text_content">
	<h1>About the Institute</h1>
		<p>The Indian Institute of Management Bangalore (IIMB) believes in building leaders through holistic, transformative and innovative education. IIMB is an acknowledged hub of academic activity in India and globally. We are recognized as a leading international post-graduate centre of management studies.</p>
		<br>
		<p>IIMB is Equis accredited. The accreditation is an indication that recognized institutions satisfy international standards.</p>
		<br>
		<p>IIMB is India’s first management school to join edX as a Contributing Member. As IIMBx, India’s leading B-school will leverage new technologies and deliver education via MOOCs (massive open online courses) to a larger population of learners from around the world. EdX, a Cambridge, Massachusetts-based non-profit enterprise created by founding partners Harvard University and MIT, offers interactive online classes from the world’s best universities. It was created for students and institutions that seek to transform themselves through cutting-edge technologies, innovative pedagogy, and rigorous courses.</p>
		<br>
		<p>The Financial Times has rated IIMB’s doctoral programme in the Top 50 globally. The adjacent schools in this list include Cornell University, University of Minnesota, Yale University, and Marshal School at USC.</p>
		<br>
		<p>IIMB is the only Indian Business School to feature in the Financial Times Executive Education 2015 Top 50 Rankings.</p>
		<br>
		<p>For the seventh consecutive year, in 2014, IIM Bangalore has been ranked the best business school in Central Asia by Eduniversal, Paris.</p>
		<br>
		<p>IIMB received the prestigious Obama-Singh 21st Century Knowledge Initiative Award in 2013. This initiative is aimed at strengthening collaborations and building partnerships between American and Indian institutions of higher education in priority fields.</p>
		<br>
		<p>IIMB collaborates with over 114 top B-schools in the world for various research initiatives and student &amp; faculty exchange programmes.</p>
		<br>
		<p>Currently, IIMB offers five long-duration programmes – the Fellow Programme in Management (FPM), the Post-Graduate Programme in Management (PGP), the Post Graduate Programme in Public Policy and Management (PGPPM), the Executive Post Graduate Programme in Management (EPGP) and a weekend Post Graduate Programme in Enterprise Management (PGPEM).</p>
		<br>
		<p>IIMB has 150+ faculty members, including visiting and adjunct faculty, who are actively engaged in policy formulation, research, case writing and consulting.</p>
		<br>
		<p>IIMB’s research centres include the Centre for Public Policy, the Nadathur S Raghavan Centre for Entrepreneurial Learning, the Centre for Financial Markets &amp; Risk Management, the Centre for Corporate Governance &amp; Citizenship, the Centre for Software &amp; IT Management, the Centre for Supply Chain Management, and the Centre for Enterprise Resource Planning.</p>
		<br>
		<p>We are known for excellence in research and scholarship, global character, values, diversity, and for the impact we make on multiple stakeholders and the society.</p>
</div>
<div class="sidenav">
<ul class="sidenavList">
	<li id="about_list">About the Institute</li>
	<li>Life @ IIMB</li>
	<li>Awards & Recognitions</li>
	<li>Prominent Partners/ Stakeholders Tetimonials</li>
	<li>Media Room</li>
	<li>Affirmative Action</li>
	<li>Gender Sensitivity Committee</li>
	<li>Board of Governors</li>
</ul>
	
</div>
</div>
<footer>
	<div class="footer_wrap container_wrap">
		<div class="about_us">
			<h3>About Us</h3>
			<p id="about_content">A 100-acre oasis in south Banga- lore, the Indian Institute of Man- agement Bangalore (IIMB), with its all stone architecture...</p>
			<a href="#">Readmore...</a>
		</div>
		<div class="other_link">
			<h3>Other Link</h3>
			<ul>
				<li><a href="">Publications</a></li>
				<li><a href="">Media Room</a></li>
				<li><a href="">Multimedia</a></li>
				<li><a href="">Related links</a></li>
				<li><a href="">Alumni</a></li>
				<li><a href="">Faculty</a></li>
			</ul>
		</div>
		<div class="connect_us">
		<h3>Connect with us</h3>
		<p>We are on Social Networks. Follow us & get in touch"</p>
		<div id="footer_social" class="social">
			<ul>
				<li class="youtube_icon2 link">
					<a href="https://toutube.com/IIM"></a>
				</li>
				<li class="facebook_icon2 link">
					<a href="https://facebook.com/IIM"></a>
				</li>
				<li class="linkedin_icon2 link">
					<a href="https://linkedin.com/IIM"></a>
				</li>
				<li class="twitter_icon2 link">
					<a href="https://twitter.com/IIM"></a>
				</li>
			</ul>
		</div>
		</div>
		<div class="contact_us">
		<h3>Contact Us</h3>
		<p><b>Indian Institute of Management Bangalore</b><br>Bannerghatta Road, Bangalore, India <br>Pin Code : 560 076 <br>Phone Number: +91-80-26582450/26993996</p>
			
		</div>
	</div>
<div class="copywright_tab ">
<div class="footer_wrap container_wrap">
<p>© Copyright IIMB. All Rights Reserved.
</p>
<ul class="copywright_tablist" >
	<li>About Us</li>
	<li>Delivery & Returns</li>
	<li>Terms & Conditions</li>
	<li>Contact Us</li>
</ul>
</div>
	
</div>
</footer>
</body>
</html>