<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<meta charset="UTF-8">
</head>
<body>
<header>
	<div class="header_wrap">
		<div class="container_wrap">
			<div class="content_wrap">
				<a href="index.html">
					<img src="../assets/images/logo.png">
				</a>
				<div class="right_content">
					<div class="search_box">
						<input type="text" placeholder="search">
						<input type="submit" value="" name="subscribe" id="search_btn">
					</div>
					<div class="sub_wrap">
						<div class="social">
							<ul>
							    <li class="youtube_icon link">
									<a href="https://toutube.com/IIM"></a>
								</li>
								<li class="facebook_icon link">
									<a href="https://facebook.com/IIM"></a>
								</li>
								<li class="linkedin_icon link">
									<a href="https://linkedin.com/IIM"></a>
								</li>
								<li class="twitter_icon link">
									<a href="https://twitter.com/IIM"></a>
								</li>
							</ul>
						</div>
						<div class="nav_list">
							<ul>
								<li class="link">ALUMINI </li>
								<li class="link">LIBRARY </li>
								<li class="link">PARTNERSHIPS </li>
								<li class="link">OPERTUNITIES </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="nav_bar">
				<ul>
					<li class="link">ABOUT IIMB</li>
					<li class="link">ADMISSION</li>
					<li class="link">EXECUTIVE EDUCATION</li>
					<li class="link">FACULTY AND RESEARCH</li>
					<li class="link">CENTER OF EXCELLENCE</li>
				</ul>
			</div>
		</div>
	</div>
</header>
<div class="main_content"></div>
<footer>
	<div class="footer_wrap container_wrap">
		<div class="about_us">
			<h3>About Us</h3>
			<p id="about_content">A 100-acre oasis in south Banga- lore, the Indian Institute of Man- agement Bangalore (IIMB), with its all stone architecture...</p>
			<a href="#">Readmore...</a>
		</div>
		<div class="other_link">
			<h3>Other Link</h3>
			<ul>
				<li><a href="">Publications</a></li>
				<li><a href="">Media Room</a></li>
				<li><a href="">Multimedia</a></li>
				<li><a href="">Related links</a></li>
				<li><a href="">Alumni</a></li>
				<li><a href="">Faculty</a></li>
			</ul>
		</div>
		<div class="connect_us">
		<h3>Connect with us</h3>
		<p>We are on Social Networks. Follow us & get in touch"</p>
		<div id="footer_social" class="social">
			<ul>
				<li class="youtube_icon2 link">
					<a href="https://toutube.com/IIM"></a>
				</li>
				<li class="facebook_icon2 link">
					<a href="https://facebook.com/IIM"></a>
				</li>
				<li class="linkedin_icon2 link">
					<a href="https://linkedin.com/IIM"></a>
				</li>
				<li class="twitter_icon2 link">
					<a href="https://twitter.com/IIM"></a>
				</li>
			</ul>
		</div>
		</div>
		<div class="contact_us">
		<h3>Contact Us</h3>
		<p><b>Indian Institute of Management Bangalore</b><br>Bannerghatta Road, Bangalore, India <br>Pin Code : 560 076 <br>Phone Number: +91-80-26582450/26993996</p>
			
		</div>
	</div>
<div class="copywright_tab ">
<div class="footer_wrap container_wrap">
<p>© Copyright IIMB. All Rights Reserved.
</p>
<ul class="copywright_tablist" >
	<li>About Us</li>
	<li>Delivery & Returns</li>
	<li>Terms & Conditions</li>
	<li>Contact Us</li>
</ul>
</div>
	
</div>
</footer>
</body>
</html>