<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
<header>
	<div class="header_wrap">
		<div class="container_wrap">
			<div class="content_wrap">
				<a href="index.html">
					<img src="../assets/images/logo.png">
				</a>
				<div class="right_content">
					<div class="search_box">
						<input type="text" placeholder="search">
						<input type="submit" value="" name="subscribe" id="search_btn">
					</div>
					<div class="sub_wrap">
						<div class="social">
							<ul>
							    <li class="youtube_icon link">
									<a href="https://toutube.com/IIM"></a>
								</li>
								<li class="facebook_icon link">
									<a href="https://facebook.com/IIM"></a>
								</li>
								<li class="linkedin_icon link">
									<a href="https://linkedin.com/IIM"></a>
								</li>
								<li class="twitter_icon link">
									<a href="https://twitter.com/IIM"></a>
								</li>
							</ul>
						</div>
						<div class="nav_list">
							<ul>
								<li class="link">ALUMINI </li>
								<li class="link">LIBRARY </li>
								<li class="link">PARTNERSHIPS </li>
								<li class="link">OPERTUNITIES </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="nav_bar">
				<ul>
					<li class="link">ABOUT IIMB</li>
					<li class="link">ADMISSION</li>
					<li class="link">EXECUTIVE EDUCATION</li>
					<li class="link">FACULTY AND RESEARCH</li>
					<li class="link">CENTER OF EXCELLENCE</li>
				</ul>
			</div>
		</div>
	</div>
</header>
<div class="slider_wrap">
	<div class="container_wrap">
		<div class="updates">
			<h1>Earth Day Celebrations at IIMB</h1>
			<p>On Earth Day at IIMB, environmentalist Suresh Heblikar rues that all districts in the State aspire to Bangalore's growth model but hopees young minds, like those at IIMB, can reverse this trend...</p>
			<a href="#">Read More</a>
			<div class="img_nav">
				<ul>
					<li class="link" id="prev"><a href="#"></a></li>
					<li class="link" id="nxt"><a href="#"></a></li>
				</ul>
			</div>
		</div>
		<div class="slide_img">
			<img src="../assets/images/DSC_0266.jpeg">
		</div>
	</div>
</div>

</body>
</html>