<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<meta charset="UTF-8">
</head>
<body>
	<header>
		<div class="header_wrap">
			<div class="container_wrap">
				<div class="content_wrap">
					<a href="index.html">
						<img src="../assets/images/logo.png">
					</a>
					<div class="right_content">
						<div class="search_box">
							<input type="text" placeholder="search">
							<input type="submit" value="" name="subscribe" id="search_btn">
						</div>
						<div class="sub_wrap">
							<div class="social">
								<ul>
								    <li class="youtube_icon link">
										<a href="https://toutube.com/IIM"></a>
									</li>
									<li class="facebook_icon link">
										<a href="https://facebook.com/IIM"></a>
									</li>
									<li class="linkedin_icon link">
										<a href="https://linkedin.com/IIM"></a>
									</li>
									<li class="twitter_icon link">
										<a href="https://twitter.com/IIM"></a>
									</li>
								</ul>
							</div>
							<div class="nav_list">
								<ul>
									<li class="link">ALUMINI </li>
									<li class="link">LIBRARY </li>
									<li class="link">PARTNERSHIPS </li>
									<li class="link">OPERTUNITIES </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="nav_bar">
				<ul>
					<li class="link"><a href="about.html">ABOUT IIMB</a>
				            <ul class="dropdown container_wrap">
				                <li><a href="#">LIFE@IIMB</a></li>
				                <li><a href="#">AWARDS & RECOGNITIONS</a></li>
				                <li><a href="#">PROMINENT PARTNERS/STAKEHOLDERS TESTIMONIALS</a></li>
				                <li><a href="#">MEDIA ROOM</a></li>
				                <li><a href="#">AFFIRMATIVE ACTION</a></li>
				                <li><a href="#">GENDER SENSITIVITY COMMITTEE</a></li>
				                <li><a href="#">BOARD OF GOVERNERS</a></li>
				            </ul>
					</li>
					<li class="link">ADMISSION</li>
					<li class="link">EXECUTIVE EDUCATION</li>
					<li class="link">FACULTY AND RESEARCH</li>
					<li class="link">CENTER OF EXCELLENCE</li>
				</ul>
			</div>
			</div>
		</div>
	</header>
	<div class="slider_wrap">
		<div class="container_wrap">
			<div class="updates">
				<h1>Earth Day Celebrations at IIMB</h1>
				<p>On Earth Day at IIMB, environmentalist Suresh Heblikar rues that all districts in the State aspire to Bangalore's growth model but hopees young minds, like those at IIMB, can reverse this trend...</p>
				<a href="#">Read More</a>
				<div class="img_nav">
					<ul>
						<li class="link" id="prev"><a href="#"></a></li>
						<li class="link" id="nxt"><a href="#"></a></li>
					</ul>
				</div>
			</div>
			<div class="slide_img">
				<img src="../assets/images/DSC_0266.jpeg">
			</div>
		</div>
	</div>
	<div class="content1">
		<div class="container_wrap">
			<div class="news">
				<div class="head">
					<h3>News</h3>
					<span></span>
				</div>
				<img src="../assets/images/IMG_3048.jpeg">
				<div class="description">
					<h5>November 7 2010</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>
				</div>
				<div class="description">
					<h5>November 7 2010</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>
				</div>
				<div class="view_all">
					<span><a href="">View All News</a></span>
				</div>
			</div>
			<div class="events">
				<div class="head">
					<h3>Events</h3>
					<span></span>
				</div>
				<img src="../assets/images/DSC_0266.jpeg">
				<div class="description">
					<h5>November 7 2010</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>
				</div>
				<div class="description">
					<h5>November 7 2010</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>
				</div>
					<div class="view_all">
					<span><a href="">View All Events</a></span>
				</div>
			</div>
			<div class="features">
				<div class="head">
					<h3>Features</h3>
					<span></span>
				</div>
				<img src="../assets/images/IMG_3146.jpeg">
				<div class="description">
					<h5>November 7 2010</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>
				</div>
				<div class="description">
					<h5>November 7 2010</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>
				</div>
				<div class="view_all">
					<span><a href="">View All News</a></span>
				</div>
			</div>
		</div>
	</div>
	<div class="content2">
		<div class="container_wrap">
			<div class="alerts">
				<h3>Alerts</h3>
				<div class="sub_info_wrap">
					<img src="../assets/images/IMG1.png">
					<h5>November 7 2010</h5>
					<p>Call for Papers: 9th Annual International Conference on Public Policy and Management</p>
				</div>
				<div class="sub_info_wrap">
					<img src="../assets/images/IMG1.png">
					<h5>December 25 2010</h5>
					<p>Fourth Biennial Supply Chain Management Conference from Dec 18-19, 2014</p>
				</div>
			</div>
			<div class="videos">
				<h3>Testimonial Videos</h3>
				<div class="sub_info_wrap">
					<img src="../assets/images/IMG1.png">
					<h5>FPM 2014: Admission Offers</h5>
					<p>Call for Papers: 9th Annual International Conference on Public Policy and Management</p>
				</div>
				<div class="sub_info_wrap">
					<img src="../assets/images/IMG1.png">
					<h5>PGP 2014-2016:Offer List</h5>
					<p>Fourth Biennial Supply Chain Management Conference from Dec 18-19, 2014</p>
				</div>
			</div>
			<div class="workshop">
				<h3>Workshops</h3>
				<div class="sub_info_wrap">
					<img src="../assets/images/IMG1.png">
					<h5>Faculty Positions- General</h5>
					<p>Call for Papers: 9th Annual International Conference on Public Policy and Management</p>
				</div>
				<div class="sub_info_wrap">
					<img src="../assets/images/IMG1.png">
					<h5>Faculty Positions- Area</h5>
					<p>Fourth Biennial Supply Chain Management Conference from Dec 18-19, 2014</p>
				</div>
			</div>
		</div>
	</div>
	<div class="base_tabs container_wrap">
		<div class="img_btn" id="student">
			<img src="../assets/images/Prospective_students.png">
			<div class="img_text">
				<p>Prospective Students</p>
			</div>
		</div>
		<div class="img_btn" id ="publication">
			<img src="../assets/images/Publications.png">
			<div class="img_text">
				<p>Publication</p>
			</div>
		</div>
		<div class="img_btn" id="media">
			<img src="../assets/images/Media_Room.png">
			<div class="img_text">
				<p>Media Room</p>
			</div>
		</div>
	</div>
	<footer>
		<div class="footer_wrap container_wrap">
			<div class="about_us">
				<h3>About Us</h3>
				<p id="about_content">A 100-acre oasis in south Banga- lore, the Indian Institute of Man- agement Bangalore (IIMB), with its all stone architecture...</p>
				<a href="#">Readmore...</a>
			</div>
			<div class="other_link">
				<h3>Other Link</h3>
				<ul>
					<li><a href="">Publications</a></li>
					<li><a href="">Media Room</a></li>
					<li><a href="">Multimedia</a></li>
					<li><a href="">Related links</a></li>
					<li><a href="">Alumni</a></li>
					<li><a href="">Faculty</a></li>
				</ul>
			</div>
			<div class="connect_us">
			<h3>Connect with us</h3>
			<p>We are on Social Networks. Follow us & get in touch"</p>
			<div id="footer_social" class="social">
				<ul>
					<li class="youtube_icon2 link">
						<a href="https://toutube.com/IIM"></a>
					</li>
					<li class="facebook_icon2 link">
						<a href="https://facebook.com/IIM"></a>
					</li>
					<li class="linkedin_icon2 link">
						<a href="https://linkedin.com/IIM"></a>
					</li>
					<li class="twitter_icon2 link">
						<a href="https://twitter.com/IIM"></a>
					</li>
				</ul>
			</div>
			</div>
			<div class="contact_us">
			<h3>Contact Us</h3>
			<p><b>Indian Institute of Management Bangalore</b><br>Bannerghatta Road, Bangalore, India <br>Pin Code : 560 076 <br>Phone Number: +91-80-26582450/26993996</p>
				
			</div>
		</div>
	<div class="copywright_tab ">
	<div class="footer_wrap container_wrap">
	<p>© Copyright IIMB. All Rights Reserved.
	</p>
	<ul class="copywright_tablist" >
		<li>About Us</li>
		<li>Delivery & Returns</li>
		<li>Terms & Conditions</li>
		<li>Contact Us</li>
	</ul>
	</div>
		
	</div>
	</footer>
</body>
</html>